@using Microsoft.AspNetCore.Mvc.Localization
@model Edelweiss.BLL.DTO.CommissionsDividingDTO
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2>@Localizer["Details"]</h2>

    <div>
        <hr />
        <div class="container">
            <div class="containerBorder">
                @*<div class="detailElement">
                    <div class="description">@Localizer["Id"]</div>
                    <div class="objectValue">@Html.DisplayFor(model => model.Id)</div>
                </div>*@
                <div class="detailElement">
                    <div class="description">@Localizer["AgentFromCommission"]</div>
                    <div class="objectValue">@Html.DisplayFor(model => model.AgentFromCommission)</div>
                </div>
                <div class="detailElement">
                    <div class="description">@Localizer["AgentToCommission"]</div>
                    <div class="objectValue">@Html.DisplayFor(model => model.AgentToCommission)</div>
                </div>
                <div class="detailElement">
                    <div class="description">@Localizer["SystemCommission"]</div>
                    <div class="objectValue">@Html.DisplayFor(model => model.SystemCommission)</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>

</div>

