@using Microsoft.AspNetCore.Mvc.Localization
@model Edelweiss.BLL.DTO.CurrencyDTO
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h4>@Localizer["Currency"]</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Id" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">@Localizer["Name"]</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@Localizer["Edit"]" class="btn btn-sm btn-danger" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">@Localizer["Back to List"]</a>
    </div>

</div>

