@using Microsoft.AspNetCore.Mvc.Localization
@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core

@model X.PagedList.IPagedList<Edelweiss.BLL.DTO.ClientDTO>
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Index"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Localizer["Index"]</h2>

<p>
    <a asp-action="Create">@Localizer["Create New"]</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>
            @Localizer["Name"]
        </th>
        <th>
            @Localizer["LastName"]
        </th>
        <th>
            @Localizer["PassportData"]
        </th>
        <th>
            @Localizer["MobilePhone"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassportData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobilePhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, role = User.IsInRole("Admin") }),
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
