@using Microsoft.AspNetCore.Mvc.Localization
@model Edelweiss.BLL.DTO.AgentDTO
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["AgentUnBlock"];
}

<h2>@Localizer["AgentUnBlock"]</h2>

<div>
    <h4>@Localizer["Agent"] @Model.Name @Localizer["Unblocked"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CountryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Agent">@Localizer["Back to List"]</a>
</div>
